
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//  Global - Styles
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


//  Charset
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@charset 'UTF-8';


//  Imports
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@import '~bourbon/app/assets/stylesheets/bourbon';
@import './lib/main';

@import './html5-reset';
@import './normalize';


//  Styles
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

html, body {
  height: 100%;
}

body {
  color: map-get($COLORS, Asher);
  background-color: map-get($COLORS, White);
}
