

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//  Table
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


//  Imports
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@import '~bourbon/app/assets/stylesheets/bourbon';
@import '../../../styles/lib/main';


//  Styles
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.Table {
  width: 100%;
  overflow-x: auto;

  .empty {
    margin-top: rem(24);
    text-align: center;
    padding: rem(40) 0 rem(30);
    background-color: map-get($COLORS, Lilia);
    border-radius: rem(2);

    > h2 {
      font-size: rem(20);
      line-height: rem(25);
      color: map-get($COLORS, Gray);
    }
  }

  img {
    width: rem(60);
    vertical-align: text-top;
    border-radius: rem(2);
    vertical-align: middle;
    margin-top: rem(10);
  }

  input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    border: none;
    outline: none;
    margin-top: rem(3);
  }
}
