

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//  Settings Box
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


//  Imports
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@import '~bourbon/app/assets/stylesheets/bourbon';
@import '../../../styles/lib/main';


//  Styles
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.SettingsBox {
  display: block;

  .row {
    @include clearfix();
  }

  .col {
    padding: rem(10);
    box-sizing: border-box;

    @include media-from($BREAKPOINTS, S) {
      float: left;
      width: percentage(1/4);
    }
  }
}
