
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//  Data Preview Page
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


//  Imports
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@import '~bourbon/app/assets/stylesheets/bourbon';
@import '../../../styles/lib/main';


//  Styles
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.header {
  padding-bottom: rem(14);

  > h2 {
    font-size: rem(20);
    line-height: rem(25);
    color: map-get($COLORS, Asher);
  }

  > p {
    font-size: rem(13);
    line-height: rem(20);
    color: map-get($COLORS, Gray);
  }
}

.content {
  display: block;
}

.settings {
  background-color: map-get($COLORS, Lilia);
  border-radius: rem(2);
  padding: 0 rem(15);
}

.error {
  text-align: center;
  padding: rem(40) 0 rem(30);
  background-color: map-get($COLORS, Lilia);
  border-radius: rem(2);

  > h2 {
    font-size: rem(20);
    line-height: rem(25);
    color: map-get($COLORS, Ruby);
  }

  > p {
    font-size: rem(13);
    line-height: rem(20);
    color: map-get($COLORS, Ruby);
  }
}

.empty {
  text-align: center;
  padding: rem(40) 0 rem(30);
  background-color: map-get($COLORS, Lilia);
  border-radius: rem(2);

  > h2 {
    font-size: rem(20);
    line-height: rem(25);
    color: map-get($COLORS, Gray);
  }

  > p {
    font-size: rem(13);
    line-height: rem(20);
    color: map-get($COLORS, Heather);
  }
}

.footer {
  text-align: right;
  padding-top: rem(24);

  > a {
    display: inline-block;
    margin-left: rem(24);
  }
}
