
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//  Brakepoints
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


//  Breakpoints Map
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

$BREAKPOINTS: (
  XS:  320px,
  S:   768px,
  M:  1024px,
  L:  1224px,
  XL: 1824px
);


//                  BP1               BP2               BP3
//                  |                 |                 |
//                  |                 |                 |
//      MOBILE      |     TABLET      |     DESKTOP     |     LARGE SCREEN
//                  |                 |                 |
//                  |                 |                 |


// NOTE:
// It's recommended to use only one approach (Mobile First or Desktop First) per project.
// It will make your life easier.


//  Media Query - Min Width - Mobile First Approach (RECOMENDED)
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin media-from ($bp-map, $bp-name) {
  // Retrieves the breakpoint value from given map (by name)
  $breakpoint: map-get($bp-map, $bp-name);
  // If named breakpoint exists in given map
  @if ($breakpoint != null) {
    // Prints a media query based on the breakpoint value
    @media only screen and (min-width: $breakpoint) { @content; }
  // If the named breakpoint doesn't exist in given map
  } @else {
    // Throw a warning
    @warn 'No value could be retrieved for "#{$bp-name}". '
        + 'Please make sure it is defined in given map';
  }
}


//  Media Query - Max Width - Desktop First Approach (NOT RECOMENDED)
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin media-to ($bp-map, $bp-name) {
  // Retrieves the breakpoint value from given map (by name)
  $breakpoint: map-get($bp-map, $bp-name);
  // If named breakpoint exists in given map
  @if ($breakpoint != null) {
    // Prints a media query based on the breakpoint value
    @media only screen and (max-width: $breakpoint) { @content; }
  // If the named breakpoint doesn't exist in given map
  } @else {
    // Throw a warning
    @warn 'No value could be retrieved for "#{$bp-name}". '
        + 'Please make sure it is defined in given map';
  }
}


//  Media Query - Between
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin media-between ($bp-map, $bp-name1, $bp-name2) {
  // Retrieves the breakpoint values from given map (by name)
  $breakpoint1: map-get($bp-map, $bp-name1);
  $breakpoint2: map-get($bp-map, $bp-name2);
  // If named breakpoints exists in given map
  @if ($breakpoint1 != null and $breakpoint2 != null) {
    // Prints a media query based on the breakpoint values
    @media only screen and (min-width: $breakpoint1) and (max-width: $breakpoint2 - 1px) { @content; }
  // If any of the named breakpoints doesn't exist in given map
  } @else {
    // Throw a warning
    @warn 'No value could be retrieved for "#{$bp-name1}" or "#{$bp-name2}". '
        + 'Please make sure it is defined in given map';
  }
}


//  Media Query - Retina
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin media-retina () {
  // http://css-tricks.com/snippets/css/retina-display-media-query
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and ( min--moz-device-pixel-ratio: 2),
  only screen and ( -o-min-device-pixel-ratio: 2/1),
  only screen and ( min-device-pixel-ratio: 2),
  only screen and ( min-resolution: 192dpi),
  only screen and ( min-resolution: 2dppx) { @content; }
}
