
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//  Home Page
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


//  Imports
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@import '~bourbon/app/assets/stylesheets/bourbon';
@import '../../../styles/lib/main';


//  Styles
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.HomePage {
  @include clearfix();

  text-align: center;

  margin: 0 auto;
  max-width: rem(275);

  padding: rem(30);


  .navigation {
    padding: rem(10);
    background-color: map-get($COLORS, White);

    border-radius: rem(2);
    box-shadow: 0 rem(2) rem(4) rgba(map-get($COLORS, Black), 0.15);

    > a {
      display: inline-block;
    }
  }
}

  .empty {
    margin-top: rem(24);
    text-align: center;
    padding: rem(40) 0 rem(30);
    background-color: map-get($COLORS, Lilia);
    border-radius: rem(2);

    > h2 {
      font-size: rem(20);
      line-height: rem(25);
      color: map-get($COLORS, Gray);
    }

    > p {
      font-size: rem(13);
      line-height: rem(20);
      color: map-get($COLORS, Heather);
    }
  }
